<div id="search" class="input-group">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control input-lg" />
  <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
</div>

